body {
  font-family: verdana;
}

main {
  display: flex;
}
main > * {
  flex: 1;
}

select, button {
  height: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(255, 30, 90);
}

form > * {
  margin: 1rem;
}

#note{
  margin-top: 2px;
  height: 35px;
}
